.footer {
  border-top: 1px solid $borderColor;
  &__wrap {
    padding-top: 15px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__item:first-child {
    text-align: left;
  }
  &__item:last-child {
    text-align: right;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
  }
  &__subitem {
    margin-top: 15px;
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    color: $textColor;
    transition: color 250ms ease-in-out;
  }
  &__link:hover {
    color: $textHover;
  }
}
.map-container {
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    &__wrap {
      padding: 40px 0;
    }
    &__list {
      flex-direction: column;
      margin-bottom: 0;
    }
    &__item {
      margin-bottom: 60px;
    }
    &__item:first-child {
      text-align: center;
    }
    &__item:last-child {
      text-align: center;
    }
    &__title {
      font-size: 24px;
    }
    &__subitem {
      margin-top: 25px;
    }
    &__link {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__wrap {
      padding: 50px 0;
    }
    &__item:last-child {
      text-align: right;
    }
    &__title {
      font-size: 24px;
    }
    &__link {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__item:last-child{
      text-align: left;
      margin-left: 94px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__subitem {
      margin-top: 20px;
    }
  }
  .map-container {
    width: 400px;
    height: 200px;
  }
}