.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &__wrap {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    &__link {
        display: flex;
    }
    &__logo {
        height: 25px;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    &__logo {
        height: 30px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        &__wrap {
            padding: 28px 0;
        }
        &__logo {
            height: 39px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .header {
        &__wrap {
            padding: 35px 0;
        }
        &__logo {
            height: 52px;
        }
    }
}